body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0;
    color: #666;
}

header {
    background-color: rgb(92, 11, 11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.contenedor-principal {
    padding: 20px 100px;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin: 1%;
    color: white;
}

#contenedor-foto-grupal {
    display: flex;
    justify-content: center;
}

#contenedor-foto-grupal img {
    width: 100%;
}

h1 {
    color: rgb(119, 7, 7);
    text-align: center;
}

#contenedor-portada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imagen-revista {
    width: 90px;
}

#contacto button {
    color: rgb(247, 240, 240);
    background-color: rgb(97, 12, 12);
}

#contacto h3 {
    color: rgb(80, 1, 1);
}

#contenedor-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(87, 2, 2);
}

#contenedor-contacto button {
    color: rgb(253, 246, 246);
    background-color: rgb(78, 9, 9);
}