body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0;
    color: #666;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    background-color: #660000;
    padding: 15px 10%;
}

header img {
    width: 300px;
    padding: 0 15px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    line-height: 20px;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.contenedor-principal {
    padding: 40px 10%;
    margin-top: 110px;
}

#contenedor-foto-grupal {
    display: flex;
    justify-content: center;
}

#contenedor-foto-grupal img {
    width: 100%;
}

h1 {
    color: rgb(119, 7, 7);
    text-align: center;
}

#contenedor-portada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#imagen-revista {
    width: 90px;
}

#contacto button {
    color: rgb(247, 240, 240);
    background-color: rgb(97, 12, 12);
}

#contacto h3 {
    color: rgb(80, 1, 1);
}

#contenedor-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(87, 2, 2);
}

#contenedor-contacto button {
    color: rgb(253, 246, 246);
    background-color: rgb(78, 9, 9);
}