:root {
	--altura-encabezado: 110px;
	--marron-sanjo: #660000;
	--gris-texto: #666;
	--gris-claro: #bcbcbc;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	margin: 0;
	color: var(--gris-texto);
	line-height: 1.4;
	overflow-x: hidden;
}

button {
	appearance: none;
	box-shadow: none;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: var(--altura-encabezado);
	background-color: var(--marron-sanjo);
	padding: 15px 10%;
	z-index: 2;
}

.menu-btn {
	display: none;
	color: white;
	font-size: 26px;
	padding: 10px;
}

a.agrisado {
	color: rgba(255,255,255,0.5) !important;
}

header img {
	width: 250px;
}

.lista-navegacion {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 2;
}

.lista-navegacion li {
	line-height: 20px;
	padding: 10px 15px;
	font-size: 14px;
	text-align: center;
	border-radius: 10%;
	cursor: pointer;
}

.lista-navegacion li a {
	color: white;
	text-decoration: none;
}

nav li a:hover { 
	color: #acaeb19f;
	text-align: center;
}

.sub-nav {
	/* display: none; */
	position: absolute;
	top: 100%;
	margin-left: -20px;
	padding: 10px;
	background-color: white;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.247);
	z-index: 1;
}

.sub-nav ul {
	list-style: none;
}

.sub-nav ul li {
	text-align: left;
	margin-left: -40px;
}

.sub-nav ul li a {
	color: var(--gris-claro);
}

.sub-nav ul li a:hover {
	color: var(--gris-texto);
}

.ocultar {
	display: none;
}

.contenedor-principal {
	padding: 15px 10% 40px 10%;
	margin-top: var(--altura-encabezado);
	overflow-x: hidden;
}

.contenedor-principal img {
	width: 100%;
}

.texto-centrado {
	text-align: center !important;
}

.texto-grande {
	font-size: 1.3em;
}

.texto-negrita {
	font-weight: 700;
}

.pie-de-foto {
	text-align: center;
	margin-top: 0;
}

#contenedor-foto-grupal {
	display: flex;
	justify-content: center;
}

#contenedor-foto-grupal img {
	width: 100%;
}

h1, h2 {
	color: rgb(119, 7, 7);
	text-align: left;
	font-weight: 900 !important;
	margin-bottom: 30px;
}

#contenedor-portada {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
}

#contenedor-portada img {
	width: 150px;
	margin-bottom: 20px;
}

.contenedor-parrafos p {
	text-align: left;
	margin: 25px 0;
	color: var(--gris-texto);
}

.pie-de-foto {
	text-align: center;
	margin: 0 0 20px 0;
	font-style: italic;
	color: #6b3529 !important;
}

#contenedor-contacto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	color: rgb(87, 2, 2);
}

#contenedor-contacto button {
	color: rgb(253, 246, 246);
	margin: 30px 10px 0 10px;
	border-radius: 5px;
}

#contenedor-contacto button img {
	display: block;
	margin: 0;
}
  
#contenedor-contacto h3 {
	color: rgb(80, 1, 1);
	font-size: 27px;
	font-weight: 800;
	word-spacing: 3px;
	margin-bottom: 0;
}

.datos-bancarios {
	margin: 30px 0;
}

.datos-bancarios p {
	margin: 0;
	line-height: 1.5;
}

.contenedor-opciones-mp {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--gris-claro);
}

@media (max-width: 1200px) {
	header {
		padding: 15px 5%;
	}
	.contenedor-principal {
		padding: 15px 5% 40px 5%;
	}
}

/* Estilos para celulares */
@media (max-width: 800px) {
	:root {
		--altura-encabezado: 80px;
	}
	header {
		width: 100vw;
		height: var(--altura-encabezado);
		overflow: hidden;
	}
	header img {
		width: 200px;
	}
	.lista-navegacion {
		flex-direction: column;
		align-items: start;
		position: fixed;
		top: var(--altura-encabezado);
		left: 0;
		width: 100vw;
		height: calc(100vh - var(--altura-encabezado));
		background-color: var(--marron-sanjo);
		padding-left: 20px;
		z-index: 2;
	}
	.lista-navegacion li {
		text-align: left;
	}
	.menu-btn {
		display: block;
	}
	.sub-nav {
		position: relative;
		top: 0;
		left: 0;
		background-color: transparent;
		box-shadow: none;
		padding: 0;
		margin: 10px -0 -10px -15px;
	}
	.sub-nav ul li a {
		color: white;
	}
	.contenedor-principal {
		padding: 20px 3%;
	}
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px !important;
		margin: 15px 8px 20px 8px;
	}
	p {
		font-size: 15px;
	}
}
