/* Estilos para tabla de talleres */
#contenedor-talleres {
	margin-top: var(--altura-encabezado);
	width: 100%;
	height: 100vh;
	overflow: auto;
}

.tabla-talleres {
	width: 100%;
}

.tabla-talleres th {
	padding: 15px 8px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	background-color: #6767675c;
	color: rgb(62, 62, 62);
}

.sticky-header {
	position: sticky;
	z-index: 1;
	top: 0;
}

.tabla-talleres td {
	padding: 12px 8px;
	text-align: center;
}

/* Color de fondo para las filas pares */
.tabla-talleres tr:nth-child(even) {
	background-color: #f2f2f2;
}

.celda-color {
	font-weight: bold;
	background-color: #6600009a;
	color: white;
}

/* Estilos para celulares */
@media (max-width: 600px) {
}